@font-face {
  font-family: 'ploni';
  src: url(https://drive.google.com/u/0/uc?id=12-53huR_zolCFKCd7zXdD5O7dfsbOV1x&export=download) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'ploni';
  src: url(https://drive.google.com/u/0/uc?id=19Of9AVdzKZOE3GdpU-AYrDq5V023IhOk&export=download) format('woff2');
  font-weight: 600;
}
