@font-face {
  font-family: 'ploni';
  src: url(https://github.com/itay-ip/Shira-s-Fonts/raw/main/fonts/ploni-demibold-aaa.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'ploni';
  src: url(https://github.com/itay-ip/Shira-s-Fonts/raw/main/fonts/ploni-demibold-aaa.woff2) format('woff2');
  font-weight: 600;
}
